---
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "./ui/card";
// import Token from "./token.astro"
import BenchLogo from "../assets/bench.svg";
---

<a href="/dualSTAKE">
  <Card
    className="relative w-[256px] h-[240px] group bg-card/80 hover:border-primary hover:scale-105 transition-all text-muted-foreground hover:text-foreground"
  >
    <CardHeader>
      <CardTitle className="text-xl flex gap-1 justify-center">
        <div class="relative">
          <span class="">dualSTAKE</span>
        </div>
      </CardTitle>
    </CardHeader>
    <CardContent
      className="flex w-full px-12 flex-col -mt-3 items-center gap-7 text-sm overflow-y-visible"
    >
      <img src="/coopalgo.png" class="sepia opacity-20 rounded-full group-hover:shadow-[0_0_20px_5px] group-hover:shadow-yellow-500/70 group-hover:shadow-[0_0_25px_5px] group-hover:opacity-100 group-hover:sepia-0 transition-all " />
      <div class="flex-col flex items-center -mt-3 gap-0">
        <div>Liquid Staking Tokens</div>
        <div class="font-light text-muted-foreground">with ASA rewards</div>
      </div>
    </CardContent>
  </Card>
</a>
