---
import Logo from "../assets/myth.svg";
import Bench from "./Bench.astro";
---

<div id="container" class="h-full">
  <main class="flex flex-col h-full justify-between items-center">
    <section class="flex flex-col self-start pl-16 pt-16 text-muted-foreground/50 group hover:text-muted-foreground transition-all">
      <a href="https://myth.finance" class=""
        >
		<Logo width="96" height="96" />
      
      <h1 class="group-hover:text-muted-foreground transition-all">
        Myth Finance<br />
        <span class="text-muted-foreground group-hover:text-muted-foreground/50 transition-all">Documentation</span>
      </h1>
	</a>
    </section>

    <section class="flex flex-col">
      <Bench href="/bench" />
    </section>

    <div></div>
  </main>
</div>

<style>
  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }
</style>
