---
import Logo from "../assets/myth.svg";
import Bench from "./Bench.astro";
import DualStake from "./DualStake.astro";
---

<div id="container" class="h-full">
  <main class="flex flex-col h-full justify-center items-center">
    <section
      class="w-full absolute top-0 left-0 self-center md:self-start p-8 pt-4  pb-0 text-muted-foreground/50 group hover:text-muted-foreground transition-all flex md:flex-row flex-col items-center gap-2 md:gap-3"
    >
      <a
        href="https://myth.finance"
        class=""
      >
        <Logo width="250" />
        
      </a>
      <div
          class="text-muted-foreground/50 -mt-1 text-3xl self-center md:text-muted-foreground group-hover:text-muted-foreground/50 transition-all"
        >
          Documentation
        </div>
    </section>

    <section class="flex flex-col md:flex-row gap-6">
      <DualStake />
      <Bench />
    </section>

    <div></div>
  </main>
</div>

<style>
  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }
</style>
